@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply h-8 w-8 cursor-pointer;
  }

  .plus-circle-icon {
    @apply mx-auto;
  }

  .default-container {
    @apply container p-2 bg-gray-100 border-2 border-gray-400 rounded shadow-md;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
